body { /*Try not to put stuff directly in the body*/
  background-color: #AEE239;
  font: sans-serif;
}

#content { /*This is the white box that fills up most of the screen.*/
  position: absolute;
  top: 3%;
  left: 3%;
  bottom:3%;
  right: 3%;
  background-color: #F9F2E7;
  border-radius: 10%;
  -moz-border-radius: 10%;
  opacity: 0.8;
  transition: 1s;
}

#content:hover {
  opacity: 1.0;
  transition: 1s;
  border-radius: 5%;
}

#container { /*This is the part that scrolls! Don't put your main header in here.*/
  height: 60%;
  width: 100%;
  overflow-y: scroll;
  position: absolute;
  bottom: 3%;
}

#header { /*Put main header in here. Don't put #header inside container*/
  padding-left: 5%;
  font: small-caps xx-large sans-serif;
  color: #40C0CB;
  border-bottom: 3px #40C0CB dotted;
  transition: 1.5s;
  position: absolute;
  width: auto;
  top: 10%;
  left: 0%;
  right: 0%;
  bottom: 70%;
}

#header:hover {
  background-color: #9AF0E9;
  transition: 1.5s;
  letter-spacing: 5px;
}

h2 { /*These are the aqua headers that hover and turn red*/
  font: small-caps 2em sans-serif;
  color: white;
  background-color: #40C0CB;
  margin-right: 30%;
  border-right: 10px #F9F2E7 double;
  border-bottom: 3px #F9F2E7 double;
  transition: 1.5s;
  padding-left: 4%;
}

h2:hover {
  margin-right: 20%;
  background-color: red;
  transition: 1.5s;
  letter-spacing: 5px;
}

.lists { /*I don't know why I called it lists, because they're not always lists.
        Makes a green background with sidebar that turns red on hover.
        For subsections/paragraphs/and things like that*/
  background-color: #CADBA4;
  margin-right: 30%;
  margin-left: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-left: 5px #40C0CB solid;
  transition: 1.5s;
  font-family: sans-serif;
  color: #44424A;
}

.lists:hover {
  transition: 1.5s;
  border-color: red;
}

/*NAVBAR ELEMENTS*/
#heading {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  background-color: green;
  z-index: 1;
}

#heading h1 {
  display: inline;
}

#heading ul {
  display: inline;
}

#heading li {
  display: inline;
  margin-right: 30px;
}

#searchbar {
  display: inline;
}

#footer {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  text-align: center;
}
